.Banner{
    background-image: url(https://m.media-amazon.com/images/G/01/Zappos/2024/Homepage/9.27/SAM-EDELMAN-HERO-RETINA-2880x1200-NEW._FMwebp_.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.photoJ{
    background-image: url(https://m.media-amazon.com/images/G/01/Zappos/2024/Homepage/9.19/APP-DOWNLOAD-CODE-INCENTIVE-HERO-2880x350_1._FMwebp_.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
